select {
     -webkit-border-radius:25px;
      -moz-border-radius:25px; 
      border-radius:25px; 
    } 
    select:hover 
    { 
        background-color:lightblue;
     }
      option:hover 
      { 
          background-color:red;
         }
          option 
          { 
              -webkit-border-radius:25px;
               -moz-border-radius:25px;
                border-radius:25px;
                 color:black; 
                 background-color:white; 
            }